**/.godot/
*.log
browser-profiles/
secrets/
rollback/system-backups/
library/
roms/
bios/
saves/
savestates/
screenshots/
media/
*.gb
*.gbc
*.gba
*.nes
*.sfc
*.smc
*.n64
*.z64
*.v64
*.iso
*.chd
*.cue
*.bin
*.srm
*.state
